img.seata {
  background-color: blue;
  width: 60px;
  height: 40px;
}

.demo {
  text-align: center;
  align-content: center;
}

.demo .demo-title {
  color: blue;
  font-size: x-large;
  font-weight: bold;
}

.demo .demo-author {
  font-size: small;
}

.demo-content {
  width: 100%;
  height: 100%;
}

.demo-content-title {
  text-align: center;
}

mat-grid-tile-header {
  text-align: center;
}

.shopping {
  background-color: beige;
}

.db-monitoring {
  background-color: lightyellow;
}
