div.content-header {
  text-align: center;
  width: 100%;
  background-color: cornflowerblue;
  font-weight: bolder;
  font-size: large;
}

section.content-db-button {
  margin: 10px 2px 30px 2px;
  text-align: center;
}

table{
  width: 100%;
}
