img.product {
  border: 1px solid #ddd;
  width: 120px;
  height: 120px;
}

mat-card-footer {
  text-align: center;
}

mat-card-footer input {
  margin-right: 3px;
}

.price {
  text-align: end;
}

table{
  width: 100%;
}

.cart-overall {
  text-align: center;
}

div.content-header {
  text-align: center;
  width: 100%;
  background-color: cornflowerblue;
  font-weight: bolder;
  font-size: large;
}
